body
  padding-top 80px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #f39c12

footer
  padding-left 15px
  padding-right 15px
  bottom: 0; left: 0; right: 0
  display : table-row;
  p
    border-top 1px solid #d7e0e2
    align-items  right

.navbar-form
  margin-right -120px

  .form-group
    margin-left 5px


  button
    margin-left 5px
    height 10px

    line-height : 3px
  input
    height 10px




.top-padding-med
  padding-top 20px


.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e




