section#content
    .container_12.top
        .grid_8
            h2 About Our Creative Web Solutions
            .box-5.right-1
                img.img-border.fleft(src='images/page2-img1.jpg', alt='')
                p.p2
                    | Creative Web Solutions (CWS) is an exceptional, Digital Marketing Agency with clients in the entertainment, SME, government and corporate sectors. Though we attract a broad range of clients from a variety of entities, we specialize in strategic digital marketing and planning helping companies target and communicate directly with their target audience using a combination of Web Design / Development, SEO,  Social Media Marketing, Brand Positioning and Consulting.
                p.p2
                    | Our talented team of professionals possess the skills to expose, brand, and strategically market your brand, company, products or services using highly effective digital marketing campaigns and take pride in having a unique approach and understanding in comparison to other marketing companies.
                p
                    | We stay abreast of the latest software, technological and digital marketing solutions provided to deliver you a healthy ROI, boasting a staff consisting of experienced and creative web designers, consumer researchers and digital marketing specialists. This means we can provide you with effective digital marketing and planning strategies and ideas to improve your online business image and we can also carry these ideas through in style.
            a.button.top-4(href='#') Read More
        .grid_4
            h2 Our Creative Team
            .box-6.top-5
                img.img-indent.img-border(src='images/o.png', alt='')
                p
                    a.link(href='#') Oussama Nasr
                    br
                    | Software Ingineering.
            .box-6.top-6
                img.img-indent.img-border(src='images/a.png', alt='')
                p
                    a.link(href='#') Anis Krichen
                    br
                    | Web Design.
            .box-6.top-6
                img.img-indent.img-border(src='images/g.png', alt='')
                p
                    a.link(href='#') Ghassen Halleb
                    br
                    | Web Design.
            a.button.top-4(href='#') Read More
        .grid_12.box-2.pad-1
            div
                p.text-3
                    | You Can Learn More About This
                    span Site

                p.text-4

        .grid_8
            h2 Our Skills
            .top-5.right-1
                p.p2
                    a.link(href='http://www.wikiwand.com/en/Web_designing') Web Designing.
                    br
                    | The principle of 'first impression is the last impression' is perfectly applicable in the case of website.Elegant designing, low loading time, easy navigation, user-friendly content, etc.
                p
                    a.link(href='http://www.wikiwand.com/en/Web_Development') Web Development.
                    br
                    | The rapid growth of ecommerce and development of technologies have not just put a constraint on Website Development as a game of scripting. Creative Web Solutions has blended the development of website with cutting edge features that help in the overall competence of clients' business.
                p
                    a.link(href='http://www.wikiwand.com/en/Internet_marketing') Internet Marketing.
                    br
                    | The designing and developement of a wwebsite is not all that is required for strong online presence and acquiring business. Internet Marketing is very much required to introduce the company website to the targeted audiences.
                p
                    a.link(href='http://www.wikiwand.com/en/Adobe_Flash') Multimedia Solution.
                    br
                    | Creative Web solution takes immense pleasure in introducing itself as a leading Flash Web Design Company in Tunisia.
                a.button.top-4(href='#') Read More
        .grid_4
            h2 Why Us?
            ul.list-1.top-5
                li
                    a(href='#') Our websites are flexible
                li
                    a(href='#') We put you in control
                li
                    a(href='#') Friendly, personable service
                li
                    a(href='#') No hidden fees

                li
                    a(href='#') Custom website designs
                li
                    a(href='#') We do all of our own design work in-house
                li
                    a(href='#') We lovingly hand-code
                li
                    a(href='#') Cross browser tested
                li
                    a(href='#') We take full advantage of today’s technology


        .clear
